@tailwind base;
@tailwind components;

:root {
  --primary-color: #7e22ce;
  --secondary-color: #f97316;
}

.input {
  @apply block w-full rounded-lg bg-gray-100 py-3 px-5 shadow-sm transition-colors focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50;
}

.form-content {
  @apply mb-5 w-full;
}

.form-content > div {
  min-height: 60px;
  margin-bottom: 0.85rem;
}

.auth-bg {
  @apply flex w-full items-center justify-center bg-cover bg-center bg-no-repeat;
  background-image: url('https://images.pexels.com/photos/1199959/pexels-photo-1199959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  min-height: 25vh;
}

img {
  max-width: 100%;
}

@tailwind utilities;

.main {
  position: relative;
  width: calc(100% - 256px);
  left: 256px;
}
